.footer {
  background: #0f1215;
  width: 100%;
  padding: 40px 0 20px;
  color: #d9d9d9;
  font-family: "Inter", sans-serif;
  margin-top: 700px;
}


.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.footer-logo {
  width: 140px;
}

.footer-nav {
  display: flex;
  gap: 35px;
}

.footer-nav a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 15px;
}

.footer-nav a:hover {
  color: white;
  transition: 0.3s;
}

.footer-social {
  width: 190px;
  opacity: 0.9;
}

/* --- LINE IMAGE --- */
.footer-line {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.footer-line img {
  width: 45px;
}

/* --- BOTTOM PART --- */
.footer-bottom {
  border-top: 1px solid #2a2f33;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d9d9d9;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-bottom a {
  color: #d9d9d9;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: white;
}
footer nav{
  display: flex;
  align-items: center;
  width: 700px;
}
