header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1376px;
  background: #1a1d1f;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  transition: all 300ms ease-in-out;
  height: 76px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.uzchess {
  width: 104px;
}
select {
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: none;
  color: white;
}
nav {
  width: 487px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: grey;
  transition: all 300ms ease-in-out;
  flex-shrink: 1;
  color: #fff0f0;
}
a:hover {
  color: white;
  transform: scale(110%);
  text-decoration: underline 3px solid blue;
}
header:hover {
  transform: scale(105%);
  border-radius: 40px;
  transition: all 500ms ease-out;
}
.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}
.Jonny {
  display: flex;
  align-items: center;
  gap: 5px;
}
.notification {
  margin-bottom: 10px;
}
.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 164px;
  color: white;
  gap: 20px;
  margin-top: 20px;
}
.together {
  display: flex;
  gap: 10px;

}
.active{
  text-decoration: underline 2px solid blue;
  color: white;
  transform: scale(120%);
  transition: all 500ms ease;
}
