.realrating {
  position: absolute;
  top: 130px;
  left: 700px;
}
.box {
  display: flex;
  align-items: center;
  background: rgba(26, 29, 31, 1);
  border: 1px solid rgba(31, 39, 42, 1);
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.blue {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 1;
  background: rgba(28, 146, 224, 1);
}
.next {
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  opacity: 1;
  border-radius: 6px;
  background: rgba(247, 250, 248, 0.1);
}
.disabled {
  border: none;
  outline: none;
  background: none;
  color: grey;
}
#new {
  width: 46px;
  height: 28px;
  left: 62px;
  outline: none;
  margin-bottom: 5px;
  opacity: 1;
  border-radius: 6px;
  background: rgba(247, 250, 248, 0.1);
}
