* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.banner h4 {
  position: absolute;
  left: 140px;
}
.banner img {
  margin-left: 30px;
}
.banner {
  position: relative;
  display: flex;
  align-items: center;

  width: 326px;
  height: 100px;
  background: #1a1d1f;
  border-radius: 8px;
  font-size: 32px;
  gap: 12px;
  margin-top: 10px;
}
.blue {
  color: rgba(28, 146, 224, 1);
}

.Filter p {
  margin-top: 25px;
  color: grey;
  font-size: 17px;
}
.star1 {
  transition: all 500ms ease-in-out;
}

.star1:hover {
  filter: sepia(1) hue-rotate(10deg) saturate(5) brightness(8.2);
  transform: scale(1.05);
}
.middle button {
  background: rgba(28, 146, 224, 1);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  width: 198px;
  height: 40px;
  top: 157px;
  left: 168px;
  gap: 10px;
  opacity: 1;
  border-radius: 8px;
  padding-top: 10px;
  padding-right: 34px;
  padding-bottom: 9px;
  padding-left: 34px;
  margin-top: 20px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  display: flex;
  align-items: center;
  width: 676px;
  height: 52px;
  border: 1px solid grey;
  border-radius: 20px;
  /* margin-bottom: 10px; */
}

.Advert {
  position: absolute;
  top: 100px;
  left: 760px;
  cursor: pointer;
}
footer {
  margin-top: 700px;
}



 


.Filter {
  background: rgba(26, 29, 31, 1);
  width: 334px;
  height: 276px;
  top: 276px;
  left: 31px;
  gap: 24px;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}
.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Filter select {
  width: 286px;
  height: 54px;
  top: 28px;

  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  background: rgba(21, 24, 26, 1);
  border: 1px solid rgba(35, 38, 39, 1);
  backdrop-filter: blur(40px);
}
.header2{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}